# OS
Thumbs.db
Desktop.ini
.DS_Store

# Editors / IDEs
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*

# Node
node_modules/
dist/
build/

# Logs / temp
*.log
tmp/
temp/
.cache/
